
.container {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background: rgb(0, 54, 4); */
}

.count-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: rgb(6, 120, 52);
}

.incBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* border: 2px dashed rgb(255, 255, 255);
    background: rgb(6, 120, 52); */
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.445);
}

.resetBtn {
    /* font-family: Arial, Helvetica, sans-serif; */
    margin-bottom: 50px;
    font-size: 1.5rem;
}